<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.bharatrohan.br_fe_uav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Farmers" />
        <activity android:name=".Activities.MyVisits" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.FarmerInfo" />
        <activity android:name=".Activities.MyFarms" />
        <activity android:name=".Activities.UnSplash" />
        <activity android:name=".Activities.CreateVisit" />
        <activity android:name=".Activities.ImpContacts" />
        <activity android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.UploadImage" />
        <activity
            android:name=".Activities.UAVHome"
            android:label="" />
        <activity android:name=".Activities.UAV_FarmerInfo" />
        <activity android:name=".Activities.UAVProfile" />
        <activity android:name=".Activities.ChangePassword" />
        <activity android:name=".Activities.BarcodeReaderActivity" />

        <service android:name=".Services.DownloadService" />

        <activity android:name=".Activities.VerifyFarm" />
        <activity android:name=".Activities.FeedbackComplaints" />
        <activity android:name=".Activities.PreChangePass"></activity>
    </application>

</manifest>